---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
const posts = await getCollection("blog");
const tituloPg = "Blog";
---
<Base tituloPg={tituloPg}>
  <p>aqui pondre las entradas de blog</p>
  <ul>
    {
      posts.map((post:any) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.titulo}</a>
        </li>
      ))
    }
  </ul>
</Base>
