---

---

<div class="hamburguesa">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
<style>
  .hamburguesa {
    display: none;
  }

  .hamburguesa .line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
  @media only screen and (max-width: 768px) {
    .hamburguesa {
      display: block;
    }
    .hamburguesa.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburguesa.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburguesa.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
</style>
