---
import { ViewTransitions } from "astro:transitions";
import Cabecera from "../components/Cabecera.astro";
import PiePg from "../components/PiePg.astro"; 
const {tituloPg} = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{tituloPg}</title>
    <ViewTransitions />
  </head>
  <body>
    <Cabecera />
    <h1>{tituloPg}</h1>
    <slot/>
    <PiePg /> 
  </body>
</html>
