---
import BaseLayout from "./Base.astro";
const { frontmatter } = Astro.props;
const fechaSp = (date)=> new Intl.DateTimeFormat('es',{dateStyle:'long'}).format(date); 
---
<BaseLayout tituloPg={frontmatter.titulo}> 
  <p>Publicado el {fechaSp(frontmatter.fecha)}</p> 
  <p>Escrito por: {frontmatter.autor}</p> 
  <slot />
</BaseLayout>
